
.card{
    width: 50%;
    margin: 2% 25% 0 25%;
}

.form-span{
    width: 100%;
}
::ng-deep .form-input .p-inputmask {
    width: 100%;
}


.form-input {
    width: 100%;
}


.titulo{
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 2%;

}
.form{
    width: 100%;
    height: 100%;

}

::ng-deep .dropdown .p-dropdown {
    width: 500px;

}