.main-container-div{
    width: 96%; 
    display: flex; 
    flex-direction: line; 
    align-items: center; 
    margin: 2%; 
    border: solid #ddd; 
    padding: 25px; 
    border-radius: 5px; 
    background: #fff;
    box-shadow:  11px 11px 22px #9d9d9d,
        -11px -11px 22px #ffffff;
}

.left-div{
    display: flex; 
    width: 40%; 
    margin-right: 5%; 
    align-items: center; 
    margin-left: 5%;
}

.right-div{
    display: flex; 
    width: 40%; 
    margin-left: 10%;
}