<div class="main-container-div">
    <div class="left-div text-justify">
    <a style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1.5;"><a style="font-size: 30px;">Bem-vindo ao Educatech!</a><br>
    Estamos muito felizes em recebê-lo no Educatech, um espaço inovador que visa conectar professores particulares e alunos de forma eficiente. Aqui, a educação se encontra com a tecnologia para criar uma experiência de aprendizado única.  
    O Educatech é o lugar onde professores dedicados têm a oportunidade de apresentar suas habilidades e conhecimentos a um público mais amplo. Para os alunos ávidos por aprender, oferecemos uma variedade de disciplinas e professores para escolher, permitindo que você encontre a combinação perfeita para suas necessidades educacionais.
    Nossa missão é promover a educação de qualidade e facilitar o encontro entre mentores e aprendizes. Neste site, a educação é uma jornada compartilhada, e a tecnologia está a serviço do aprendizado. Junte-se a nós no Educatech e seja parte dessa comunidade que valoriza o conhecimento e a evolução.
    Bem-vindo ao Educatech, onde a aprendizagem é uma prioridade e o potencial educacional é ilimitado. Vamos embarcar nessa jornada de conhecimento juntos!
    </a>
    </div>
    <div class="right-div">
        <img alt="" src="https://media.discordapp.net/attachments/911394611300270122/1166522615821774919/img01-transformed.jpeg?ex=654acbd8&is=653856d8&hm=1ee6637506a2bf7f0a352360a34a65db1c15d43409a6968cb9e747badbec3b6d&=&width=700&height=700" height="500px" />
    </div>
</div>
<div class="main-container-div">
    <div class="left-div">
        <img alt="" src="https://media.discordapp.net/attachments/911394611300270122/1166524835199975574/753ec859-3b72-4b1b-9162-243885debcf0-transformed.jpeg?ex=654acde9&is=653858e9&hm=86175eab8811af87500486c7fe3b03551f67a81ff911f81fe986ae6cad679006&=&width=700&height=700" height="500px" />

    
    </div>
    <div class="right-div text-justify">
        <a style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1.5;"><a style="font-size: 30px;">Caro Professor,</a><br/>
    
        Estamos empolgados em tê-lo a bordo no Educatech! O primeiro passo para tornar a diferença na vida dos alunos e expandir sua influência educacional é o seu cadastro. Aqui, você terá a oportunidade de destacar suas habilidades, compartilhar sua paixão pelo ensino e alcançar um público diversificado em busca de mentores como você.   
        Nosso processo de cadastro é simples e direto, projetado para garantir que sua experiência no Educatech seja eficiente e recompensadora. Ao preencher seu perfil, você estará contribuindo para a construção de uma comunidade educacional vibrante e enriquecedora. Mostre ao mundo por que você é um educador excepcional e inspire futuras gerações.   
        Preparado para começar a fazer a diferença? Vamos lá, cadastre-se e comece a sua jornada no Educatech!<br/>
        <p-button class="botao-margin-top" label="Cadastre-se" severity="success" [outlined]="true"  [routerLink]="['/cadastro/professor']"></p-button><br/><br/><br/>
        </a>
        
    </div>
    
</div>
<div class="main-container-div">
    <div class="right-div text-justify">
    <a style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1.5;"><a style="font-size: 30px;">Prezado Aluno,</a><br>
    Bem-vindo ao Educatech, onde o conhecimento está ao seu alcance! Se você está ansioso para explorar novos horizontes de aprendizado e está em busca dos professores perfeitos para guiá-lo nessa jornada, está no lugar certo. O primeiro passo para desbloquear um mundo de oportunidades educacionais é o seu cadastro.
    Nosso processo de cadastro é rápido e fácil, projetado para ajudá-lo a encontrar os mentores que atendam às suas necessidades específicas. Com uma variedade de disciplinas e professores à sua escolha, você terá a liberdade de moldar sua experiência de aprendizado de acordo com seus objetivos e interesses.   
    Pronto para embarcar em uma emocionante jornada de descoberta? Comece agora e dê o primeiro passo em direção a um futuro repleto de conhecimento e conquistas. Cadastre-se e faça parte da comunidade educacional do Educatech hoje mesmo!
   <br/>
    <p-button class="botao-margin-top" label="Cadastre-se" severity="success" [outlined]="true" [routerLink]="['/cadastro/aluno']"></p-button><br/><br/><br/>
    </a>
    
    </div>
    <div class="left-div" style="margin-left: 15%;">
        <img alt="" src="https://media.discordapp.net/attachments/911394611300270122/1166526731750998136/1e18447e-d969-4ed4-98d3-15eb904ffa51-transformed.jpeg?ex=654acfad&is=65385aad&hm=65f5bbb66a417a111534d975931de9341f99a5c8ca702c189c93e61c522f7751&=&width=700&height=700" height="500px" />
    </div>
</div>


