<div class="main-container-div">
    <div class="left-div">
        <a style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 1.5;"><a style="font-size: 30px;">Sobre a Educatech</a><br>
        A Educatech é uma plataforma inovadora que surgiu como um projeto de Trabalho de Conclusão de Curso (TCC) no CEFET-MG. Nossa missão é revolucionar a educação, conectando professores particulares e alunos em uma plataforma única. Acreditamos que a educação é a chave para o crescimento pessoal e coletivo, e é por isso que criamos este espaço onde o conhecimento encontra a tecnologia.
        Somos uma comunidade dedicada à excelência educacional, onde professores comprometidos têm a oportunidade de compartilhar suas habilidades e experiências com um público diversificado. Ao mesmo tempo, proporcionamos aos alunos uma variedade de disciplinas e professores para escolher, permitindo que eles personalizem sua jornada de aprendizado.
        O Educatech é o local onde a educação se torna acessível e enriquecedora. Acreditamos na aprendizagem como uma jornada compartilhada, e a tecnologia é nossa aliada nessa missão. Junte-se a nós e faça parte desta revolução educacional que teve início no CEFET-MG. Vamos aprender e crescer juntos no Educatech!
        </a>
    </div>
    <div class="right-div">
        <img class="imagens" src="https://media.discordapp.net/attachments/911394611300270122/1168607248826765363/2aba8362-3181-4a32-9d5f-3e5323b18adb.jpeg?ex=6552614f&is=653fec4f&hm=672aeba5fab2ad9ffe74e9b6f1f8e7d1e5e21d917b0e5ba3e07a87618a1ad2a0&=&width=700&height=700" height="500px" />
    </div>
</div>
