.card{
    width: 56%;
    margin: 2% 22% 0 22%;
    padding-top: 0;
}

.no-shadow {
    box-shadow:  none;
}

.form-span{
    width: 100%;
}
::ng-deep .form-input .p-inputmask {
    width: 100%;
}


.form-input {
    width: 100%;
}


.titulo{
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 2%;

}
.form{
    width: 100%;
    height: 100%;

}

.div-img{
    width: 410px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.flex-gap{
    display: flex;
    gap: 40px;
}

.div-editar{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 30px;
}

.botao-editar{
    margin-top: 10px;
    padding: 10px;
}

.botoes-form{
    justify-content: space-between
}

.tamanho{
    height: 30px;
    max-height: 30px;

}

.disabled{
    color: grey;
}

.telefone-span{
    width: 100%;
}

::ng-deep .input-telefone .p-inputmask {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}


 .telefone-button{
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
 }

 .estrelinhas{
    margin: 20px;
 }

 .nodecoration{
    text-decoration: none;
 }