
<div class="card">    
    <div class="form">
        <div class="div-editar"><div class="titulo"> {{usuario.nome}} </div></div>
        <div class="flex-gap">
            <div class="div-inputs">        
                <div class="flex flex-row gap-3 mb-5">
                    <div class="flex">
                        <span class="p-float-label form-span" >
                            <input pInputText id="nome" name="nome" [disabled]="disableEditar" [(ngModel)]="usuario.nome" required  class="form-input"/>
                            <label htmlFor="nome">Nome</label>
                        </span>
                    </div>
                    <div class="flex">         
                            <div class="p-inputgroup">
                                <span class="p-float-label telefone-span ">
                                <p-inputMask  mask="(99) 99999-9999" name="telefone" [disabled]="disableEditar" [(ngModel)]="usuario.telefone" [required]="true" id="telefone" class="form-input input-telefone" ></p-inputMask>
                                <label htmlFor="telefone">Telefone</label>
                                <a href="https://wa.me/+55{{numerowpp}}" target="_blank" type="button" pButton icon="pi pi-whatsapp" class="telefone-button p-button-success nodecoration"></a>
                                </span>

                            </div>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3 mb-5">
                    <div class="flex-auto">
                        <span class="p-float-label form-span">
                            <input pInputText id="email"name="email" [disabled]="disableEditar" [(ngModel)]="usuario.email" required class="form-input"/>
                            <label htmlFor="email">Email</label>
                        </span>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3 mb-5">
                    <span class="p-float-label form-span">
                        <input pInputText id="faculdade" name="faculdade" [disabled]="disableEditar" [(ngModel)]="usuario.faculdade" required class="form-input"/>
                        <label htmlFor="faculdade">Faculdade</label>
                    </span>
                </div>
                <div class="flex flex-wrap gap-3 mb-5 ">
                    <div class="flex-auto">
                        <span class="p-float-label form-span">            
                            <input pInputText id="especializacao" name="especializacao" [disabled]="disableEditar" [(ngModel)]="usuario.especializacao" required class="form-input"/>
                            <label htmlFor="especializacao">Especialização</label>
                        </span>
                    </div>           
                    <div class="card no-shadow flex justify-content-center gap-3">
                        <div class="flex align-items-center gap-1">
                            <p-checkbox name="disponibilidade" value="manhã" [(ngModel)]="disponibilidade"  [required]="true"  [disabled]="disableEditar" inputId="manha" id="manha"></p-checkbox>
                            <label for="manha" *ngIf="!disableEditar">Manhã</label>
                            <label class="disabled" for="manha" *ngIf="disableEditar">Manhã</label>
                        </div>
                        <div class="flex align-items-center gap-1">
                            <p-checkbox name="disponibilidade" value="tarde" [(ngModel)]="disponibilidade"  [required]="true" [disabled]="disableEditar" inputId="tarde" id="tarde"></p-checkbox>
                            <label for="tarde" *ngIf="!disableEditar">Tarde</label>
                            <label class="disabled" for="tarde" *ngIf="disableEditar">Tarde</label>
                        </div>
                        <div class="flex align-items-center gap-1">
                            <p-checkbox name="disponibilidade" value="noite" [(ngModel)]="disponibilidade"  [required]="true" [disabled]="disableEditar" inputId="noite" id="noite"></p-checkbox>
                            <label for="noite" *ngIf="!disableEditar">Noite</label>
                            <label class="disabled" for="noite" *ngIf="disableEditar">Noite</label>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;" class="flex align-items-center justify-content-center">
                    <div style="width: 100%;" class="flex botoes-form">
                        <button pButton pRipple label="Contratar" [routerLink]="['../../../servicos/cadastrar/' + usuario.id, usuario.nome]" class="p-button-success"></button>
                        <a pButton pRipple label="Voltar" onclick="window.history.back()" class="p-button-secondary"></a>
                    </div>    
                </div>
            </div>     
            <div class="flex flex-column align-items-center">     
                <div class="div-img flex-auto">
                    <div class="bg-img">
                        <img class="std-img" src="data:image/*;base64,{{selectedImagem}}" alt="Pessoa linda" onerror="this.onerror=null; this.src='https:\/\/github.com\/leosmsilvx\/iTonomise\/blob\/main\/src\/main\/webapp\/imgs\/homem.jpg?raw=true'">
                    </div>
                </div>   
                <div class="flex-auto estrelinhas">
                    <p-rating [ngModel]="usuario.avaliacao" id="avaliacao" [readonly]="true" [cancel]="false" ></p-rating>      
                    ({{usuario.quantidadeavaliacao}})
                </div>  
            </div>      
        </div>        
    </div>
</div>








