<p-menubar class="shadow">
    <ng-template pTemplate="start" >
        <a [routerLink]="['educatech']">
            <div>
                <img alt="" src="https://media.discordapp.net/attachments/911394611300270122/1166500434383483002/75ddcbde-cb88-4ba6-adb8-50b3fd400058-transformed.png?ex=654ab730&is=65384230&hm=631a15903f2fb5f3e7f124369f4836e05ed7c69f8b6febe5102ec288dee00783&=&width=533&height=282" height="60" class="mr-2" />
                <a style="font-size: 60px; margin-left: 5px;">EducaTech</a>
            </div>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <p-button *ngIf="educatechService.getUsuarioLogado()?.tipo == 'aluno'" [routerLink]="['educatech/meuperfil/aluno']" icon="pi pi-user" severity="secondary" [outlined]="true" class="botao-margin-sides"></p-button>
        <p-button *ngIf="educatechService.getUsuarioLogado()?.tipo == 'professor'" [routerLink]="['educatech/meuperfil/professor']" icon="pi pi-user" severity="secondary" [outlined]="true" class="botao-margin-sides"></p-button>
        <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" severity="secondary" [outlined]="true" class="botao-margin-sides"></p-button>
    </ng-template>
</p-menubar>

  

<p-sidebar [(visible)]="sidebarVisible" position="right">
    <div class="div-botoes">    
        <h1>Olá,<br> {{this.educatechService.getUserName()}} </h1>
        <div class="flex flex-column gap-3">
            <a class="titulo-botoes">Conta</a>
            <p-button *ngIf="educatechService.getUsuarioLogado()?.tipo == 'professor'" [routerLink]="['educatech/meuperfil/professor']" icon="pi pi-user" severity="success" [outlined]="true" class="botao-margin-sides" label="Meu perfil"></p-button>
            <p-button *ngIf="educatechService.getUsuarioLogado()?.tipo == 'aluno'" [routerLink]="['educatech/meuperfil/aluno']" icon="pi pi-user" label="Meu perfil" severity="success" [outlined]="true" class="botao-margin-sides"></p-button>    
        </div>  
        <hr>
        <div class="flex flex-column gap-3">
            <a class="titulo-botoes">EducaTech</a>
            <p-button [routerLink]="['educatech/servicos/lista']" icon="pi pi-user" severity="secondary" [outlined]="true" class="botao-margin-sides" label="Meus serviços"></p-button>
            <p-button *ngIf="educatechService.getUsuarioLogado()?.tipo == 'aluno'" [routerLink]="['educatech/professores/lista']" icon="pi pi-user" label="Professores" severity="secondary" [outlined]="true" class="botao-margin-sides"></p-button>    
        </div>
        <hr>
        <div class="flex flex-column gap-3">
            <a class="titulo-botoes">Sair</a>
            <p-button (click)="this.educatechService.logout()" icon="pi pi-user" severity="danger" [outlined]="true" label="Logout"></p-button>
        </div>
    </div>
    
</p-sidebar>
