
<div class="card">
    <form (ngSubmit)="editar(f)" #f="ngForm" class="form">
        <div class="div-editar"><div class="titulo">Meu Perfil</div><p-button pRipple (click)="editarform(f)" icon="pi pi-pencil" [rounded]="true" severity="secondary" [text]="disableEditar" [raised]="disableEditar" class="botao-editar"></p-button></div>
        <div class="flex flex-wrap gap-3 mb-5">
            <div class="flex-auto">
                <span class="p-float-label form-span" >
                    <input pInputText id="nome" name="nome" required [disabled]="disableEditar" [(ngModel)]="usuario.nome"  class="form-input"/>
                    <label htmlFor="nome">Nome*</label>
                </span>
            </div>
            <div class="flex-auto">
                <span class="p-float-label form-span">
                    <input pInputText id="email" name="email" required [disabled]="disableEditar" [(ngModel)]="usuario.email" class="form-input"/>
                    <label htmlFor="email">Email*</label>
                </span>
            </div>
        </div>
        <div class="flex flex-wrap gap-3 mb-5">
            <div class="flex-auto">
                <span class="p-float-label form-span">
                    <p-inputMask  mask="999.999.999-99" [required]="true"  [disabled]="disableEditar" [(ngModel)]="usuario.cpf" class="form-input" id="cpf" name="cpf"></p-inputMask>
                    <label htmlFor="cpf">CPF*</label>
                </span>
            </div>
            <div class="flex-auto">
                <span class="p-float-label form-span">
                    <p-inputMask  mask="(99) 99999-9999" id="telefone" name="telefone" [disabled]="disableEditar" [required]="true" [(ngModel)]="usuario.telefone"  class="form-input" ></p-inputMask>
                    <label htmlFor="telefone">Telefone*</label>
                </span>
            </div>
        </div>
        <div class="flex flex-wrap gap-3 mb-5">
            <span class="p-float-label form-span">
                <input pInputText id="endereco" name="endereco" [disabled]="disableEditar" required [(ngModel)]="usuario.endereco" class="form-input"/>
                <label htmlFor="endereco">Endereço*</label>
            </span>
        </div>
        <div class="flex flex-wrap gap-3 mb-5 ">

            <div class="flex-auto">
                <span class="p-float-label form-span">            
                    <p-dropdown [options]="escolaridades" [required]="true" ngModel [disabled]="disableEditar" inputId="escolaridade" name="escolaridade" optionLabel="name" class="dropdown" #dropdown></p-dropdown>                
                    <label for="escolaridade">Selecione sua escolaridade</label>
                </span>
            </div>           
        </div>
        <div style="width: 100%;" class="flex botoes-form">
            <div *ngIf="disableEditar">&nbsp;</div>
            <button *ngIf="!disableEditar" pButton pRipple label="Confirmar Informações" [disabled]="!f.valid" type="submit" class="p-button-success"></button>
            <a pButton pRipple label="Voltar" onclick="window.history.back()" class="p-button-secondary"></a>
        </div>             
    </form>
</div>








