.card{
    width: 45%;
}
.maindiv{
    width: 100%;
    
}

.leftbox{
    margin: 3% 5% 3% 10%;
}

.rightbox{
    margin: 3% 10% 3% 5%;
}

.mainbox{
    margin: 3% 30% 3% 30%;
    width: 40%;
}

.img{
    border: solid;
    border-radius: 5px;
    border-color: #ddd;
}
.boxtext{
    line-height: 1.5;
}


.text-center{
    text-align: center;
}

