<!-- ALUNO -->

<div id="tela-aluno" class="flex maindiv" *ngIf="educatechService.getUsuarioLogado()?.tipo == 'aluno'">
    <div class="flex-auto card leftbox">
        <h1 class="text-center">Gerencie Seus Serviços</h1>
        <div class="imgdiv text-center">
            <a [routerLink]="['./servicos/lista']"><img alt="" class="img" src="https://th.bing.com/th/id/OIG.TNb11H_syOTkC3JIZblr?pid=ImgGn" height="500px"/></a>
        </div>
        <div class="boxtext text-justify">
        No Educatech, colocamos o poder do aprendizado em suas mãos. Você pode gerenciar todos os seus serviços educativos com professores dedicados de forma simples e eficiente. Nossa plataforma oferece a flexibilidade e transparência necessárias para acompanhar seu progresso educacional.
        Aqui, você pode ver os detalhes, o andamento e o histórico de cada serviço. Mantenha-se atualizado e aproveite ao máximo sua experiência de aprendizado.
        Seja você um aluno comprometido em busca de conhecimento ou alguém que deseja monitorar seu progresso educacional, o Educatech facilita o acompanhamento de seus serviços educativos.<b> Clique na imagem acima e comece a gerenciar seus serviços de forma eficaz. Seu sucesso educacional está ao alcance de um clique!</b>
        </div>
    </div>
    <div class="flex-auto card rightbox">
        <h1 class="text-center">
            Descubra Professores Talentosos
        </h1>
        <div class="imgdiv text-center">
            <a [routerLink]="['./professores/lista']"><img alt="" class="img" src="https://th.bing.com/th/id/OIG.CJP.IuEK7Pvs9aflqgkg?pid=ImgGn&w=1024&h=1024&rs=1" height="500px"/></a>
        </div>
        <div class="boxtext text-justify">
            Em busca de conhecimento e orientação educacional? No Educatech, você está no lugar certo! Nossa plataforma oferece uma maneira simples e eficaz de descobrir professores talentosos e dedicados que estão prontos para ajudá-lo a atingir seus objetivos acadêmicos.
            Clique no botão "Descobrir Professores" abaixo para acessar a lista de professores disponíveis em diversas disciplinas. Navegue, explore seus perfis e encontre o mentor perfeito para sua jornada de aprendizado. Aqui, o conhecimento é acessível, e o ensino é apaixonado.
            Seja você um aluno em busca de aprimoramento acadêmico ou alguém curioso em busca de novos horizontes de aprendizado, o Educatech tem um professor para atender às suas necessidades. <b> Comece sua jornada de aprendizado agora, clicando na imagem acima e descubra a riqueza de conhecimento à sua disposição.</b>
        </div>       
    </div>

</div>

<!-- PROFESSOR -->

<div id="tela-professor" class="flex maindiv align-content-center" *ngIf="educatechService.getUsuarioLogado()?.tipo == 'professor'">
    <div class="flex-auto card mainbox align-items-center justify-content-center">
        <h1 class="text-center">Gerencie Seus Contratos Educativos</h1>
        <div class="text-center">
            <a [routerLink]="['./servicos/lista']"><img alt="" class="img" src="https://th.bing.com/th/id/OIG.TNb11H_syOTkC3JIZblr?pid=ImgGn" height="500px"/></a>
        </div>
        <div class="boxtext flex-auto align-items-center text-justify">
        No Educatech, colocamos o poder do aprendizado em suas mãos. Você pode gerenciar todos os seus serviços educativos com professores dedicados de forma simples e eficiente. Nossa plataforma oferece a flexibilidade e transparência necessárias para acompanhar seu progresso educacional.
        Clique no botão "Gerenciar Contratos" abaixo para acessar a lista de serviços ativos, pendentes e finalizados com os professores. Aqui, você pode ver os detalhes, o andamento e o histórico de cada contrato. Mantenha-se atualizado e aproveite ao máximo sua experiência de aprendizado.
        Seja você um aluno comprometido em busca de conhecimento ou alguém que deseja monitorar seu progresso educacional, o Educatech facilita o acompanhamento de seus serviços educativos.<b> Clique na imagem acima e comece a gerenciar seus serviços de forma eficaz. Seu sucesso educacional está ao alcance de um clique!</b>
        </div>
    </div>

</div>

