.card{
    width: 45%;
}
.maindiv{
    width: 100%;
}

.leftbox{
    margin: 3% 5% 3% 10%;
}

.rightbox{
    margin: 3% 10% 3% 5%;
}

.imgdiv{
    margin: 0 0 0 7%;

    padding: 0;
}
.img{
    border: solid;
    border-radius: 5px;
    border-color: #ddd;
}
.boxtext{
    margin: 5% 0 0 0 ;
    line-height: 1.5;
}